@import "tailwindcss";


@theme {
  --color-primary: #2191FB;   /*blue*/
  --color-secondary: #FF6700; /*orange*/
  --color-danger: #B80C09;    /*red*/
  --color-dark: #343434;      /*dark gray*/
  --color-light: #F7FFF7;     /*light gray*/
}